.wrapper {
   max-width: 960px;
   background-color: #f3f3f3;
   border-radius: 3px;
   padding: 10px 40px;
   margin: 40px auto;
}

.company-name {
   font-size: 30pt;
   text-align: center;
   color: #313131;
}

.white-bg {
   background-color: white;
   padding: 5px;
   overflow: hidden;
}

.more-info {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16pt;
}

.content-text {
  padding: 10px;
  font-family: sans-serif;
}
